<div class="container">

  <!-- LEFT -->
  <div class="left">
    <h1>CampusCare</h1>
    <p>
      Report facilities, safety, or technology issues instantly.
      Track progress, stay updated, and help maintain a safer,
      cleaner learning environment for everyone.
    </p>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <div class="card">
      <h2>Create Account</h2>
      <small>Join the reporting network</small>

      <label>Full Name</label>
      <input type="text" [(ngModel)]="fullName" placeholder="Your Name">

      <label>University Email</label>
      <input type="email" [(ngModel)]="email" placeholder="user@university.edu.ph">

      <label>Password</label>
      <input type="password" [(ngModel)]="password" placeholder="••••••••">

      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" placeholder="••••••••">

      <button [disabled]="!fullName || !email || !password || !confirmPassword || password !== confirmPassword" (click)="createAccount()">Create Account</button>

         <p class="error" *ngIf="password && confirmPassword && password !== confirmPassword">
          Passwords do not match.
         </p>

      <p class="signup">
        Already have an account? <span routerLink="/">Sign In</span>
      </p>
    </div>
  </div>

</div>

<div class="footer">
  © 2026 Campus Issues Report System – Improving Campus Life Together
</div>